@import url("./components/style/forecastCard.css");
@import url("./components/style/icard.css");
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
@import url('./components/style/loader.css');

/* .responsive{
    width: 100%;
} */
.responsive1{
    width: 100%;
}

.customf{
    font-family: 'Courgette', cursive;
}